doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        title TimeStamp
        link(href='/css/bootstrap.min.css', rel='stylesheet')
    body
        .container
            .jumbotron
                h1.text-center.text-primary TimeStamp Service
            h2.text-primary How to use?
            p(style="font-size:18px") This is a Simple Express.js App that converts a unix TimeStamp to natural language date and vice versa.<br> For Example,
            ul
                li.text-info(style="font-size:18px") If you pass natural date as a string in the url such as: <code>https://timestamp55.herokuapp.com/December 12, 2015</code> or
                li.text-info(style="font-size:18px") If you pass unix timestamp as a string in the url such as: <code>https://timestamp55.herokuapp.com/1449860400</code>
            h2.text-primary Output:
            p(style="font-size:18px") It will always return an object which contains both unixtime and natural date such as <br><code>{"unix":1449860400,"natural":"Sat Dec 12 2015"}</code> OR <br><code>{"unix":,"natural":""}</code><br><br><strong>You should try this and see the output whether it is correct or not.<strong>
            